<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
        <% include ../static/partials/messages.ejs %>
            <h1>New Collaborator</h1>

            <form action="/wikis/<%= wikiId %>/collaborators/create" method="post">
                <div id="email-input" class="form-group">
                    <label for="title">Collaborator Email</label>
                    <input type="text" class="email-input form-control" name="collaboratorEmail" placeholder="Enter Email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>