body {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #f9f9f9f9;
}

.wiki-index-header {
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1507495214200-1c8c09e60758?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4c1b6ea37975499a4c2dd9cb2e47e9c&auto=format&fit=crop&w=934&q=80");
    color: white;
    background-size: 100%;
    background-position-y: 20%;
}

.img-fluid {
    max-width: 100%;
}

#mainHeader{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-img-top  {
    padding: 10px 10px 0 10px;
}

.wiki-list {
    padding-left: 0;
}

.profile-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-header img {
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.profile-title {
    margin-top: 50px;
}

.profile-wikis {
    padding-left: 0;
}

.navbar {
    padding: 25px 0 25px 0;
}

#mainJumbo {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;
}

#mainJumbo .container .row{
    display: flex;
    align-items: center;
}

#signup-form {
    background: white;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;
    border-radius: 1%;
    color: #586069;
    height: 565px;
    align-items: center;
    max-width: 500px;
}

#signup-form .btn {
    width: 100%;
    padding: 15px 0 15px 0;
}

.alert {
    margin-bottom: 0;
}

.feature {
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;
    padding: 40px 0;
    background-color: white;
}

.feature .container .row {
    display: flex;
    align-items: center;
}

.feature img {
    width: 50%;
    height: auto;
}

.feature:nth-of-type(even){
    background-color: #9e9e9e17 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: auto;
    border: 1px solid #80808059;
    border-radius: 2%;
    background: white;
}

.form-signin button {
    padding: 5px 0;
}

#signinLabel {
    margin-bottom: 50px;
    color: #808080cf;
    margin-top: 50px;
}

#signin-signup {
    max-width: 330px;
    margin: 30px auto;
    font-size: 15px;
    padding: 5px auto;
}

#signup {
    margin-top: 70px;
    margin-bottom: 100px;
}

#signupForm {
    margin-top: 50px;
}

#signupForm input {
    max-width: 500px;
}

#signupForm .lead {
    font-size: 40px;
}

#signupForm .btn {
    width: 200px;
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered-profile {
    font-size: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#wikiExample {
    width: 100%;
    max-width: 500px;
    height: 100%;
}

#wikiExample .card-img-top {
    padding: 0;
    height: 100px;
    opacity: .7;
}

.card-img {
    height: 135px;
    opacity: .7;
}

#wiki-form input {
    max-width: 500px;
}

#wiki-new-header {
    margin: 50px 0 30px 0;
}

#wiki-created-by {
    font-size: 25px;
}

.wiki-created {
    font-size: 15px;
}

#createdBy {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 300px;
    margin: auto;
}

hr {
    margin: 20px 0 50px 0;
}

.carousel-item {
    height: 700px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
}

.carousel-item .card {
    height: 550px;
    color: black;
    width: 100%;
}

#featureImage {
    width: 100%;
}

.carousel-item .card .row {
    height: 335px;
}

.carousel-item header {
    margin-bottom: 10px;
}

.carousel-item .display-3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.carousel-item .display-4 {
    font-size: 13px;
    margin: 5px 0;
}

.carousel-item hr {
    margin: 5px 0;
}

.carousel-item .card-body {
    padding: 5px;
}

.carousel-item header {
    padding: 0;
    height: 150px;
}

.carousel-item #createdBy {
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#featureBody > * {
    font-size: 12px;
}

#featureBody {
    font-size: 12px;
}

#featuredWiki {
    max-width: 1000px;
    margin: 0 auto;
}

#callToAction {
    height: 430px;
}

#wiki-list-main {
    margin-top: 50px;
}

.list-groups .list-group-item {
    border: none;
    border-radius: 0;
}

.list-groups a {
    text-decoration: none !important;
    color: #343a40;
}

.list-labels {
    background-color: #9e9e9e17;
}

.list-labels .display-4 {
    font-size: 19px;
}

a:nth-of-type(even) .wiki-list-item {
    background-color: #f9f9f9f9  !important;
}

.list-groups a:hover {
    font-size: 18px;
    color: #017bff;
}

#home {
    padding-bottom: 0;
}

#smallCollab {
    text-align: center;
    margin: 0 auto;
}

#myTab .nav-link {
    font-size: 30px;
}