body {
    padding-top: 110px;
}

.wiki-index-header {
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1507495214200-1c8c09e60758?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4c1b6ea37975499a4c2dd9cb2e47e9c&auto=format&fit=crop&w=934&q=80");
    color: white;
    background-size: 100%;
    background-position-y: 20%;
}

.img-fluid {
    max-width: 100%;
}

#featured {
    margin-top: 100px;
}

#mainHeader{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-img-top  {
    padding: 10px 10px 0 10px;
}

#aboutUs .list-group-item {
    margin: 0 0 10px 0;
}

.wiki-list {
    padding-left: 0;
}

hr {
    margin: 20px 0 50px 0;
}

#createdBy {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-title {
    margin-top: 50px;
}

.profile-wikis {
    padding-left: 0;
    margin-top: 15px;
}

.email-input {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}

.username-input {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}

.password-input {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}

.title-input {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}

.url-input {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}

html {
    font-size: 1em;
}

.navbar {
    padding: 25px 0 25px 0;
}

#mainJumbo {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;
}

#mainJumbo .container .row{
    display: flex;
    align-items: center;
}

#signup-form {
    background: white;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;
    border-radius: 1%;
    color: #586069;
    height: 500px;
    align-items: center;
    max-width: 500px;
}

#signup-form .btn {
    width: 100%;
    padding: 15px 0 15px 0;
}

.alert {
    margin-bottom: 0;
}

.feature {
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;
    padding: 40px 0;
    background-color: white;
}

.feature .container .row {
    display: flex;
    align-items: center;
}

.feature img {
    width: 50%;
    height: auto;
}

.feature:nth-of-type(even){
    background-color: #9e9e9e17 !important;
}