body {
    padding-top: 54px;
}

.wiki-index-header {
    text-align: center;
    margin-bottom: 50px;
    background-image: url("https://images.unsplash.com/photo-1507495214200-1c8c09e60758?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4c1b6ea37975499a4c2dd9cb2e47e9c&auto=format&fit=crop&w=934&q=80");
    color: white;
    background-size: 100%;
    background-position-y: 20%;
}

.img-fluid {
    max-width: 100%;
}

#mainJumbo {
    background-image: url("https://images.unsplash.com/photo-1508014924734-d75124b0f402?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3027af5dc53a2f6e7821f15eb186f4f5&auto=format&fit=crop&w=2255&q=80");
    background-size: 100%;
    background-position-y: 30%;
    color: white;
}

#featured {
    margin-top: 100px;
}

#mainHeader{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-img-top  {
    padding: 10px 10px 0 10px;
}

#aboutUs .list-group-item {
    margin: 0 0 10px 0;
}

.wiki-list {
    padding-left: 0;
}

hr {
    margin: 20px 0 50px 0;
}

#createdBy {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-title {
    margin-top: 50px;
}

.profile-wikis {
    padding-left: 0;
    margin-top: 15px;
}