<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <!-- Logo and Label -->
        <div id="signinLabel" class="text-center">
            <img class="mb-4" src="https://img.icons8.com/ios/50/000000/drop-shipping.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-light">Sign in to Knowledge Drop</h1>
        </div>

        <!-- Signin Form -->
        <form class="form-signin" method="POST" action="/users/signin">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" class="form-control" name="email" required="" autofocus="" autocomplete="on">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" required="" autocomplete="off">
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        </form>

        <!-- Sign up prompt -->
        <div id="signin-signup" class="text-center float-center">
            <p class="lead">New? <a href="/users/signup">Create an account</a>.</p>
        </div>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>